@import "../../../assets/scss/variable";

.toaster {
  position: fixed;
  padding: 1.5rem;
  color: $white;
  top: 1.5rem;
  border-radius: 5px;
  font-weight: normal;
  font-size: 1.2rem;
  left: 50%;
  z-index: 1060;
  display: flex;
  align-items: center;
  transform: translateX(-50%);
  width: 60%;
  max-width: 20rem;

  img {
    margin: 0 1rem 0 0;
  }

  &.success {
    background: #d8f3dc;
    color: $toaster-green;
    border: 1px solid $toaster-green;
  }

  &.error {
    background: #fff0f3;
    color: $toaster-red;
    border: 1px solid $toaster-red;
  }
}
