@import 'assets/scss/variable';

/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";

* {
    font-family: $font-family;
    outline: 0;
    margin: 0;
    padding: 0;
    color: $black;
    line-height: 1.5;
    letter-spacing: 0.25px;
    box-sizing: border-box;
}

.modal {
  z-index: 1066;
}


.multiselect-dropdown {
    .dropdown-btn {
      height: 3rem;
      font-size: $font-size;
      border: 0 !important;
      border-bottom: 1px solid $grey !important;
      border-radius: 0 !important;
  
      span:first-of-type {
        color: $grey;
        font-size: $font-size;
      }
  
      .selected-item-container {
        display: inline !important;
  
        .selected-item {
          background: $grey !important;
          border: none !important;
          font-size: $font-size;
  
          span {
            color: $white;
          }
        }
      }
    }
  }
